<% if (theme.twitter.username){ %>
<div class="widget-wrap">
   <h3 class="widget-title"><%= __('tweets') %></h3>
   <div class="widget">
               <a class="twitter-timeline"  
                   href="https://twitter.com/lucdew" 
                   data-chrome="noheader nofooter noborders transparent"
                   data-tweet-limit="5"
                   data-widget-id="518280804359610368">Tweets by @lucdew</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </div>
</div>
<% } %>
